* {
    font-family: 'Inconsolata', monospace;
}

html {
    background-color: black;
    position: fixed;
    left: 0;
    right:0;
    bottom:0;
    top:0;
   
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

.show {
    transition: all, 0.5s;
    opacity: 1;
}

.hide {
    transition: all, 0.5s;
    opacity: 0;
    visibility: hidden;
}

.app {
    text-align: center;
}

.title{
    font-family: 'ZCOOL QingKe HuangYou';
    color:white;
    font-size: 60px;
    letter-spacing: 3px;
    text-decoration: line-through;
    margin-bottom: 50px;
}

.filterBar {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    height:50px;
    border-top: 1px solid  rgba(255, 255, 255, 0.7);
    text-align: center;
}

.ACTIVE_LinkContainer, 
.ALL_LinkContainer, 
.ALL_2_LinkContainer, 
.COMPLETED_LinkContainer{
    display: inline-block;
    height:20px;
    width: 20px;
    padding:0;
    position: relative;
    bottom:14px;
    text-align: center;
}

.ALL_2_LinkContainer {
    width: 30px;
    margin-right: 50px;
    position: relative;
    right:7px;
}

.ALL_LinkContainer {
    width: 30px;
    margin-left: 50px;
    position: relative;
    left:7px;
}

.ALL_LinkContainer:hover .ALLText,
.ALL_2_LinkContainer:hover .ALL_2Text,
.COMPLETED_LinkContainer:hover .COMPLETEDText,
.ACTIVE_LinkContainer:hover .ACTIVEText{   
    visibility: visible;
}

.ACTIVE {
    background-color: black;
    color: white;
}

.ALL {
    color: transparent;
    background-color: white;
}

.ALL_2 {
    text-align: center;
    color: transparent;
    background-color: black;
}

.COMPLETED {
    background-color: white;
}

.ALLText {
    position: relative;
    left:10px;
}

.ALL_2Text {
    position: relative;
    right:6px;
}

.COMPLETEDText{
    position: relative;
    right:25px;
}
.ACTIVEText {
    position: relative;
    right:12px;
}

.COMPLETEDText, .ALLText, .ACTIVEText, .ALL_2Text {
    color:white;
    position: relative;
    visibility: hidden;
    font-size: 15px;
    top:10px;
    margin:auto;
}

.filterButton {
    height:26px;
    width: 26px;
    padding:0;
    line-height: 18px;
    text-align: center;
    border: 1px solid white;
    border-radius: 50%;
    transform: scale(1);
    transition: all, 0.5s;
    outline:none;
    font-size: 15px;
}

.filterButtonActive{
    height:20px;
    width: 20px;
    padding:0;
    text-align: center;
    line-height: 18px;
    border: 1px solid white;
    border-radius: 50%;
    transition: all, 0.5s;
    transform: scale(1.6);  
    outline:none;
    font-size: 12px;
}

ul {
    margin:0;
    padding: 0;
}

li {
    margin-left: auto;
    margin-right:auto;
    direction: rtl;
    transition: all, 0.5s;
    color:white;
    opacity: 1;
}

.todoList {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style: none;
    height: 220px;
    width: 300px;
    color :white;
    position: relative;
    overflow: scroll;
    text-align: center;
}


.messageSpan {
    font-size: 20px;
    position: relative;
    top:40px;
}

.todo { 
    width: 70%;
    height: 50px;
    border: 1px solid white;
    background-color: black;
    color:white;
    outline:none;
    line-height: 48px;
    z-index: 3;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.gradient {
    display: none;
}

.todoText{
    background-color: transparent;
    color:#B4B4B4;
    padding: 5px 10px 5px 10px;
    font-size: 18px;
    border: none;
    float: left;
    width: 68%;
    resize: none;
    outline: none;
    height: 50px;
    line-height: 20px;
}

.todoList:hover > * {
    opacity: 0.5;
}

.todoList:hover > *:hover {
    opacity: 1;
}

.deleteMode {
    background-color: transparent;
    color:white;
}


.deleteButton {
    float:left;
    width: 52px;
    height: 52px;
    background-color: transparent;
    color:white;
    font-size: 20px;
    outline: none;
    transition: all, 1s;
    color: white;
    position: absolute;
    left: 7px;
    border:none;
    border-radius: 50%;
    border: white 1px solid;
    transform: scale(0.5)
}

.deleteMode{
    width: 100px;
    height: 20px;
    margin-top: 10px;
    opacity: 0.6;
}

.checkCircle{
    margin-left: 10px;
    height:31px;
    width: 31px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    vertical-align: middle;
    outline: none;
    transform: scale(1);
    transition: all, 0.5s;
}

.checkCircleCompleted{
    margin-left: 10px;
    height:31px;
    width: 31px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    vertical-align: middle;
    outline: none;
    transform: scale(1);
    transition: all, 0.5s;
}

li > * {
    direction: ltr;
}

form {
    text-align: center;
}

.todoInput {
    color: #B4B4B4;
    outline: none;
    width: 200px;
    border: none;
    padding:20px;
    font-size: 25px;
    margin-left: auto;
    margin-right:auto;
    background-color: transparent;
    border-bottom: 1px solid white;
    border-radius: 0;
}

.todoSubmit {
    display: block;
    border: 2px solid white;
    background-color: black;
    height: 25px;
    width: 25px;
    padding: 3px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    line-height: 29px;
    outline: none;
    opacity: 0.8;
}

.todoSubmit:hover {
    opacity: 1;
}

/* Small Screen Mobiles */
@media (min-width: 320px) {

    .todoList {
        width: 315px;
        height: 205px;
    }

    .deleteButton {
        left:2px;
    }
}

/* Mobiles */
@media (min-width:375px) {
    .filterBar{
        width: 250px;
    }

    .todoList {
        height: 270px;
    }

    .ALL_2_LinkContainer {
        margin-right: 75px;
        position: relative;
    }

    .ALL_LinkContainer {
        margin-left: 75px;
        position: relative;
    }
    
    .deleteButton {
        left: -5px;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 80px;
    }

    .todoList {
        height: 280px;
        width: 425px;
    }

    .checkCircle:hover {
    transform: scale(1.2);
    transition: all, 0.5s;
    }

    .checkCircleCompleted:hover {
    transform: scale(1.2);
    transition: all, 0.5s;
    }

    .gradient {
    background: linear-gradient(black,rgba(255,255,255,0));
    width: 90%;
    height: 3%;
    position: fixed;
    display: block;
    }

    .deleteButton:hover {
    border: double 10px white;
    transition: all, 0.5s;
    transform: scale(0.75)
    }

    .deleteMode:hover {
    transition: all, 0.5s;
    opacity: 1;
    outline: none;

    }

    .deleteMode {
        margin-bottom: 20px;
    }

    .deleteButton {
        left: 7px;
    }
}

@media (min-width: 1500px) {
  
    .todoList {
        height:470px;
        width: 425px;
    }
  }
