* {
    font-family: 'Inconsolata', monospace;
}

html {
    background-color: black;

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    text-align: center;
}
/* Header */
.title{
    font-family: 'ZCOOL QingKe HuangYou';
    color:white;
    font-size: 60px;
    letter-spacing: 3px;
    text-decoration: line-through;
    margin-bottom: 65px;
}


/* Filter Bar */
.filterBar {
    width: 308px;
    margin-left: auto;
    margin-right: auto;
    height:10px;
    margin-bottom: 40px;
    border-top: 1px solid white;
}

.ACTIVE_LinkContainer, 
.ALL_LinkContainer, 
.ALL_2_LinkContainer, 
.COMPLETED_LinkContainer{
    display: inline-block;
    height:40px;
    width: 40px;
    padding:0;
    position: relative;
    bottom:29px;
    text-align: center;
}

.ACTIVE_LinkContainer {
    right: 110px;
}

.ALL_2_LinkContainer {
    width: 20px;
}

.COMPLETED_LinkContainer {
    left:110px;
}

.ALL_LinkContainer:hover .ALLText,
.ALL_2_LinkContainer:hover .ALL_2Text,
.COMPLETED_LinkContainer:hover .COMPLETEDText,
.ACTIVE_LinkContainer:hover .ACTIVEText
{   
    visibility: visible;
}

.ACTIVE {
    background-color: black;
}

.ALL {
    width: 20px;
    position: relative;
}

.ALL_2 {
    width: 20px;
    background-color: black;
    position: relative;
    right:13px;
}

.ALLText {
    position: relative;
    left:10px;
}

.ALL_2Text {
    position: relative;
    right:22px;
}

.COMPLETEDText, .ALLText, .ACTIVEText, .ALL_2Text {
    color:white;
    position: relative;
    bottom: 15px;
    visibility: hidden;
}

.filterButton {
    height:20px;
    width: 20px;
    padding:0;
    border: 1px solid white;
    border-radius: 50%;
    transform: scale(1);
    transition: all, 0.5s;
    outline:none;
}


.filterButtonActive{
    height:20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 50%;
    transition: all, 0.5s;
    transform: scale(1.4);  
    outline:none;
}




ul {
    margin:0;
    padding: 0;
}
li {
    margin-left: auto;
    margin-right:auto;
    direction: rtl;
    width:340px;
    transition: all, 0.5s;
    color:white;
    opacity: 1;

}

.todoList {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style: none;
    height: 345px;
    width: 400px;
    color :white;
    position: relative;
    overflow: scroll;
}

.messageSpan {
    font-size: 20px;
    position: relative;
    top:40px;
}

.todo { 
    width: 340px;
    height: 60px;
    border: 1px solid white;
    background-color: black;
    color:white;
    outline:none;
    line-height: 60px;
    z-index: 3;
}

.gradient {
    background: linear-gradient(black,rgba(255,255,255,0));
    width: 100%;
    height: 3%;
    position: fixed;

}




.todoText{
    background-color: transparent;
    color:#B4B4B4;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    border: none;
    float: left;
    width: 200px;
    resize: none;
    outline: none;
    height: 50px;
    line-height: 25px;
}

.connectorRight {
    position: relative;
    right:16px;
    width: 200px;
    height: 20px;
}

.connectorLeft {
    position: relative;
    right:15px;
    width: 200px;
    height: 20px;
    border-left: 1px solid white;
}


.deleteButton {
    position: absolute;
    background-color: transparent;
    float: left;
    color:white;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin-right: 5px;
    display: none;
}

.checkCircle{
    margin-left: 55px;
    height:31px;
    width: 31px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    display: table-cell;
    vertical-align: middle;
}

.checkCircleCompleted{

    margin-left: 55px;
    height:31px;
    width: 31px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    display: table-cell;
    vertical-align: middle;
}

li > * {
    direction: ltr;
}

form {
    text-align: center;
}

.todoInput {
    color: #B4B4B4;
    outline: none;
    width: 250px;
    border: none;
    padding:20px;
    font-size: 25px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 20px;
    background-color: transparent;
    border-bottom: 1px solid white;
}

.todoSubmit {
    display: block;
    border: 2px solid white;
    background-color: black;
    font-size: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    margin-left: 10px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    line-height: 29px;

}